
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    color: #222;
    padding-top: 300px; 
}


header {
    text-align: center;
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    background: #e6f0ff; 
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
}


.logo {
    width: 180px;   
    display: block;
    margin: 0 auto 10px auto;
}


header h1 {
    font-size: 1.8em;
    color: #000;
    margin: 0;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white;
}


th {
    background: #000; 
    color: white;
    padding: 12px;
    text-transform: uppercase;
}


td {
    padding: 12px;
    border: 1px solid #ddd;
}


tr:nth-child(odd) {
    background: #eafaea; 
}
tr:nth-child(even) {
    background: #e6f0ff; 
}


tr:hover {
    background: #ffe6e6; 
}
